
<h1 class="auth-heading">{{lang 'auth.forgot_password.title'}}</h1>

<div class="auth-wrapper auth-forgot-password">
  <p>{{lang 'auth.forgot_password.message'}}</p>

  <form class="form" action="{{urls.auth.send_password_email}}" method="post" data-forgot-password-form>
    <div class="form-field">
      <label class="form-label" for="email">
        <span class="form-label-text">{{lang 'auth.forms.email_address'}}</span>
        <input class="form-input" name="email" id="email" type="email">
      </label>
    </div>

    <div class="form-actions">
      <input class="button" type="submit" value="{{lang 'auth.forgot_password.submit'}}">
    </div>
  </form>
</div>
