{{#partial 'account-heading'}}
  {{lang 'core.account.settings.heading'}}
{{/partial}}

{{#partial 'account-content'}}
  {{#if forms.edit_account.error}}
    {{> core/alerts/alert-error forms.edit_account.error}}
  {{/if}}
  {{#if forms.edit_account.success}}
    {{> core/alerts/alert-success forms.edit_account.success}}
  {{/if}}

  <form action="{{urls.account.update_action}}" class="form account-settings-form" method="post">

    <div class="form-field form-required">
      <label class="form-label" for="account_firstname">
        <span class="form-label-text" data-required="{{lang 'core.account.common.required'}}">
          {{lang 'core.account.settings.first_name'}}
        </span>
        <input type="text" class="form-input" name="account_firstname" id="account_firstname" value="{{forms.edit_account.first_name}}">
      </label>
    </div>

    <div class="form-field form-required">
      <label class="form-label" for="account_lastname">
        <span class="form-label-text" data-required="{{lang 'core.account.common.required'}}">
          {{lang 'core.account.settings.last_name'}}
        </span>
        <input type="text" class="form-input" name="account_lastname" id="account_lastname" value="{{forms.edit_account.last_name}}">
      </label>
    </div>

    <div class="form-field">
      <label class="form-label" for="account_companyname">
        <span class="form-label-text">{{lang 'core.account.settings.company'}}</span>
        <input type="text" class="form-input" name="account_companyname" id="account_companyname" value="{{forms.edit_account.company_name}}">
      </label>
    </div>

    <div class="form-field form-required">
      <label class="form-label" for="account_phone">
        <span class="form-label-text" data-required="{{lang 'core.account.common.required'}}">
          {{lang 'core.account.settings.phone'}}
        </span>
        <input type="text" class="form-input" name="account_phone" id="account_phone" value="{{forms.edit_account.phone}}">
      </label>
    </div>

    {{#each forms.edit_account.fields}}
      {{{dynamicComponent 'core/form/common'}}}
    {{/each}}

    <div class="form-actions">
      <button class="button">{{lang 'core.account.settings.update_details'}}</button>
    </div>

  </form>
{{/partial}}

{{> core/account/_private/layout nav='settings' class='edit-account'}}
