{{#partial 'account-heading'}}
  {{lang 'core.account.wishlists.view_heading' name=wishlist.name}}
{{/partial}}

{{#partial 'account-content'}}
  {{#if wishlist.is_public}}
    <h2 class="account-sub-heading">{{lang 'core.account.wishlists.share_intro'}}</h2>
    <div class="account-share-wishlist-url">
      <input class="form-input" value="{{settings.base_url}}{{wishlist.share_url}}">
    </div>
  {{/if}}

  <section class="account-wishlist {{products_per_row_class}}">
    <h2 class="account-sub-heading">{{lang 'core.account.wishlists.wishlist_contents'}}</h2>
    <div class="account-wishlist-items">
      {{#each wishlist.items}}
        {{> core/products/product-item show_remove=true remove_url=remove_url}}
      {{/each}}
    </div>
  </section>
{{/partial}}

{{> core/account/_private/layout nav_page='wishlists' class='wishlist-details'}}
