.account-wrapper {
  .alert {
    position: relative;
    padding: $account-gutter-inner;
    margin: $account-gutter-inner 0;
    color: $account-alert-text-color;
    border-radius: $account-border-radius;
  }

  .alert-info {
    background-color: $account-alert-info-color;
  }

  .alert-error {
    background-color: $account-alert-error-color;
  }

  .alert-success {
    background-color: $account-alert-success-color;
  }

  .alert-dismiss {
    position: absolute;
    top: $account-gutter-inner / 2;
    right: $account-gutter-inner / 2;
    font-size: 20px;
    font-weight: normal;
    line-height: 0.5;
    cursor: pointer;
  }
}
