.account-header {
  display: table;
  width: 100%;
  margin-bottom: $account-gutter-inner;
}

.account-heading,
.account-toolbar {
  display: table-cell;
  vertical-align: baseline;
}

.account-toolbar {
  text-align: right;

  * {
    display: inline;
  }
}

.account-tool {
  display: inline-block;
  margin-left: 10px;
  color: inherit;
  border: 0;
  background: none;
  cursor: pointer;
}
