.account-wrapper {
  @extend %clearfix;
  font-size: $account-font-size;
}

.account-nav,
.account-body {
  vertical-align: top;
}

.account-body {
  width: 75%;
  padding-left: $account-gutter-inner;
  margin-left: 25%;

  > :first-child {
    margin-top: 0;
  }

  .account-nav-hidden & {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }
}

.account-nav {
  float: left;
  width: 25%;
  padding-right: $account-gutter-inner;
}
