.account-wrapper {
  @extend %clearfix;
  font-size: 0;
}

.account-nav,
.account-body {
  display: inline-block;
  font-size: $account-font-size;
  vertical-align: top;
}

.account-body {
  width: 75%;
  padding-left: $account-gutter / 2;

  > *:first-child {
    margin-top: 0;
  }
}

.account-nav {
  width: 25%;
  padding-right: $account-gutter / 2;
}
