// Variables

$account-light-color: #fff !default;
$account-accent-color: #5dc5e3 !default;
$account-border-color: #e4e4e4 !default;
$account-gutter: 30px !default;
$account-font-size: 15px !default;
$account-border-radius: 0 !default;

$auth-gutter: $account-gutter;
$auth-font-size: $account-font-size;

// Imports

@import "components/layout";
@import "components/forms";
@import "components/list";
@import "components/navigation";
@import "components/pagination";

@import "pages/address";
@import "pages/edit-account";
@import "pages/orders";
@import "pages/recent-items";
@import "pages/returns";
@import "pages/wishlists";

@import "pages/auth";
