{{#partial "page"}}

  <section class="account-wrapper">

    {{> components/account/navigation account_page='returns'}}

    <div class="account-body">

      <h1 class="account-heading">{{lang 'account.returns.from_order' id=forms.return.order_id}}</h1>

      {{#if forms.return.order_products.length}}

        <form action="{{urls.account.orders.save_new_return}}" class="form" method="post">
          <input type="hidden" name="order_id" value="{{forms.return.order_id}}">

          <ul class="account-list account-new-return-form">

            <div class="account-list-header">
              <div class="account-list-header-item item">
                <span class="account-list-header-label">{{lang 'account.orders.return.order_item'}}</span>
              </div>

              <div class="account-list-header-item price">
                <span class="account-list-header-label">{{lang 'account.orders.return.item_price'}}</span>
              </div>

              <div class="account-list-header-item quantity">
                <span class="account-list-header-label">{{lang 'account.orders.return.quantity'}}</span>
              </div>
            </div>

            {{#each forms.return.order_products}}
              <li class="account-list-item">
                <div class="account-list-item-details">

                  <div class="account-list-item-cell item">
                    <span>{{name}}</span>
                  </div>

                  <div class="account-list-item-cell price">
                    <span>{{price.formatted}}</span>
                  </div>

                  <div class="account-list-item-cell message {{#unless unread}}is-read{{/unless}}">
                    <span>
                      <select class="form-select form-select--small form-select--short" name="return_qty[{{id}}]">
                        {{#enumerate 0 quantity}}
                          <option value="{{this}}">{{this}}</option>
                        {{/enumerate}}
                      </select>
                    </span>
                  </div>

                </div>
              </li>
            {{/each}}

          </ul>

          <h2 class="account-sub-heading border">{{lang 'account.orders.return.return_details'}}</h2>

          <div class="form-field">
            <label for="return_reason" class="form-label">
              {{lang 'account.orders.return.reason'}}
              <small>{{lang 'account.common.required'}}</small>
            </label>
            <select name="return_reason" id="return_reason" class="form-select">
              {{#each forms.return.reasons}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-field">
            <label for="return_action" class="form-label">
              {{lang 'account.orders.return.action'}}
            </label>
            <select name="return_action" id="return_action" class="form-select">
              {{#each forms.return.actions}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
          </div>

          <div class="form-field">
            <label for="return_comments" class="form-label">
              {{lang 'account.orders.return.comments'}}
            </label>
            <textarea class="form-input" rows="8" name="return_comments" id="return_comments"></textarea>
          </div>

          <div class="form-actions">
            <input class="button" type="submit" value="Submit Return Request" />
          </div>

        </form>

      {{else}}

        <p>{{lang 'account.orders.return.already_returned'}}</p>
        <a href="{{urls.account.orders.all}}" class="button">{{lang 'account.orders.return.back_button'}}</a>

      {{/if}}

    </div>

  </section>

{{/partial}}

{{> layout/base}}
