{{#partial "page"}}

  <section class="account-wrapper">

    {{> components/account/navigation account_page='messages'}}

    <div class="account-body">
      <h1 class="account-heading">{{lang 'account.messages.heading'}}</h1>
      {{#if forms.inbox.error}}
        {{> components/alerts/alert-error forms.inbox.error}}
      {{/if}}
      {{#if forms.inbox.success}}
        {{> components/alerts/alert-success forms.inbox.success}}
      {{/if}}
      {{> components/account/messages-list messages=customer.inbox.messages}}
      {{> components/account/messages-form}}
    </div>

  </section>

{{/partial}}

{{> layout/base}}
