<section class="account-wrapper">

  {{> account/components/navigation account_page='settings'}}

  <div class="account-body">
    <h1 class="account-heading">{{lang 'account.settings.heading'}}</h1>
    {{#if forms.edit_account.error}}
      {{> components/alerts/alert-error forms.edit_account.error}}
    {{/if}}
    {{#if forms.edit_account.success}}
      {{> components/alerts/alert-success forms.edit_account.success}}
    {{/if}}
    {{> account/components/edit-account}}
  </div>

</section>
