<section class="account-wrapper">

  {{> account/components/navigation account_page='messages'}}

  <div class="account-body">
    <h1 class="account-heading">{{lang 'account.messages.heading'}}</h1>
    {{#if forms.inbox.error}}
      {{> components/alerts/alert-error forms.inbox.error}}
    {{/if}}
    {{#if forms.inbox.success}}
      {{> components/alerts/alert-success forms.inbox.success}}
    {{/if}}
    {{> account/components/messages-list messages=customer.inbox.messages}}
    {{> account/components/messages-form}}
  </div>

</section>
