<section class="account-wrapper">
  {{> account/components/navigation account_page='recent_items'}}

  <div class="account-body">
    <h1 class="account-heading">{{lang 'account.recent_items.heading'}}</h1>

    {{#if customer.recently_viewed_products.items}}
      <form class="form" action="{{customer.recently_viewed_products.compare_url}}" method="post">
        <div class="account-recently-viewed">
          <!-- TODO: Limit to 3 products? -->
          <ul class="account-product-grid">
            {{#each customer.recently_viewed_products.items}}
              <li class="account-product-item">
                {{> account/components/product-item show_compare=../show_compare show_rating=../settings.show_product_rating}}
              </li>
            {{/each}}
          </ul>
        </div>

        <!-- TODO: Should there be show_compare data? -->
        <!--
        {{#if show_compare}}
          <button class="button" type="submit">{{lang 'account.recent_items.compare'}}</button>
        {{/if}}
        -->
      </form>
    {{else}}
      <p>{{lang 'account.recent_items.empty'}}</p>
    {{/if}}
  </div>

</section>
