.account-wrapper {
  .form-label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    color: $account-accent-color;
  }

  // scss-lint:disable QualifyingElement
  input[type='text'],
  input[type='password'] {
    // scss-lint:disable ImportantRule
    width: 100% !important;
  }

  textarea {
    width: 100%;
    min-height: 175px;
  }

  select {
    width: 100%;
  }

  .form-field {
    width: 100%;
    margin-bottom: 20px;
  }

  .form-actions {
    clear: both;
  }
}

// Account Forms

.account-settings-form,
.account-address-form {
  font-size: 0;

  .form-field {
    display: inline-block;
    width: 50%;
    padding-right: $account-gutter / 2;
    padding-left: $account-gutter / 2;
    vertical-align: top;
    font-size: $account-font-size;
  }

  .form-actions {
    margin-top: 30px;
    padding-right: $account-gutter / 2;
    padding-left: $account-gutter / 2;
  }
}

.account-order-info-payment .buttom-small {
  margin-bottom: 5px;
}
