// Variables
$account-light-color: #fff !default;
$account-nav-color: #636363 !default;
$account-accent-color: #5dc5e3 !default;
$account-border-color: #e4e4e4 !default;
$account-header-color: #f5f6f7 !default;


// Grid
@mixin account-row($context, $gutter) {
  margin-left: $gutter / ($context + $gutter) / 2 * -100%;
  margin-right: $gutter / ($context + $gutter) / 2 * -100%;
}

@mixin account-column($width, $context, $gutter) {
  width: $width / ($context + $gutter) * 100%;
  margin-left: $gutter / ($context + $gutter) / 2 * 100%;
  margin-right: $gutter / ($context + $gutter) / 2 * 100%;
}

@mixin account-perfect-square($width, $context, $gutter) {
  padding-bottom: $width / ($context + $gutter) * 100%;
}

@mixin account-image-fill {
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
  min-width: 100%;
  min-height: 100%;
  margin: auto;
}

// Account Body
.account-body {
  float: left;
  width: 75%;

  .pagination {
    float: left;
    width: 100%;
    padding-top: 15px;
    margin-top: 50px;
    border-top: 1px solid $account-header-color;
  }
}

// Account Headings
.account-heading {
  float: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 25px;
  text-transform: capitalize;
}

.account-sub-heading {
  float: left;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 20px;
  text-transform: capitalize;

  &.border {
    padding-bottom: 30px;
    border-bottom: 1px solid $account-border-color;
  }
}


// Navigation
.account-nav {
  float: left;
  width: 25%;
  padding-right: 50px;
}

.account-nav-list {
  padding: 0;
  list-style: none;
  border: 1px solid $account-border-color;
  border-radius: 4px;
}

.account-nav-item {
  padding: 15px;
  border-top: 1px solid $account-border-color;

  &:first-child {
    border-top: 0;
  }

  &.active {
    color: $account-accent-color;
    border-left: 3px solid $account-accent-color;
  }

  > a {
    color: $account-nav-color;

    &:hover {
      color: $account-accent-color;
    }
  }
}


// List Views
.account-list {
  float: left;
  width: 100%;
  list-style: none;
}

.account-list-header {
  float: left;
  width: 100%;
  background-color: $account-header-color;
}

.account-list-header-item {
  display: block;
  float: left;
  width: 15%;
  padding: 10px;
}

.account-list-item {
  display: block;
  float: left;
  width: 100%;
  border-top: 1px solid $account-border-color;

  &:first-of-type {
    border: 0;
  }
}

.account-list-item-details {
  float: left;
  width: 100%;
}

.account-list-item-cell {
  display: block;
  float: left;
  width: 15%;
  padding: 10px;
  font-size: 12px;
  line-height: 60px;

  &.details-btn {
    width: 25%;
    padding-right: 0;

    > span {
      float: right;
      width: 75%;
    }

    a {
      width: 100%;
    }
  }
}

.account-order-details {
  .show-details {
    display: block;

    .visible & {
      display: none;
    }
  }

  .hide-details {
    display: none;

    .visible & {
      display: block;
    }
  }
}

.account-list-item-row {
  display: none;
  float: left;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;

  .visible & {
    display: block;
  }
}

.account-list-item-row-inner {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 20px;
  font-size: 12px;

  &.last {
    margin-bottom: 0;
  }
}

.account-list-item-row-inner-details {
  float: left;
  width: 30%;
}

.account-list-item-row-inner-notes {
  float: left;
  width: 70%;
}

.account-list-item-note-wrap {
  float: left;
  width: 100%;

  &.return {
    width: 70%;
  }
}

.account-list-item-note {
  float: left;
  width: auto;
  padding-bottom: 20px;
  margin-right: 75px;
  font-size: 12px;
  line-height: 15px;

  > span {
    display: block;
    padding-bottom: 5px;
    font-size: 15px;
    color: $account-accent-color;
  }
}

.account-list-item-order-returns {
  float: left;
  width: 50%;

  .account-order-status-return {
    float: right;
  }
}

.account-list-item-image {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 15px;
  overflow: hidden;
  border: 1px solid $account-border-color;

  img {
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
  }
}

.account-list-item-name {
  padding-bottom: 5px;
  font-size: 15px;
  line-height: 15px;
}


// Orders
.account-order-details-label {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
}

.account-order-info {
  float: left;
}

.account-order-info-shipping,
.account-order-info-billing,
.account-order-info-payment {
  display: block;
  float: left;
  width: 33.3333%;
}

.account-order-info-shipments,
.account-order-info-comments,
.account-order-info-contact {
  display: block;
  float: left;
  width: 100%;
}


// Forms
.account-wrapper .form-label {
  display: inline-block;
  margin-bottom: 5px;
  color: $account-accent-color;
}

// scss-lint:disable QualifyingElement
.account-wrapper input[type='text'],
.account-wrapper input[type='password'] {
  // scss-lint:disable ImportantRule
  width: 100% !important;
  height: 45px;
  background: $account-light-color;
  border: 1px solid $account-border-color;
  border-radius: 4px;
}

.account-wrapper textarea {
  width: 100%;
  min-height: 175px;
  background: $account-light-color;
  border: 1px solid $account-border-color;
  border-radius: 4px;
}

.account-wrapper select {
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-indent: 7px;
  background: $account-light-color;
  border: 1px solid $account-border-color;
}

.account-wrapper .form-field {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}


// Returns
.account-list-item-return-order {
  float: left;
  margin-top: 30px;
}


// Messages
.account-messages {
  .account-list-header-item {
    width: 20%;

    &.message {
      width: 60%;
    }
  }

  .account-list-item-cell {
    width: 20%;

    &.message {
      width: 60%;
    }
  }
}


// Addresses
.account-address-form {
  @include account-row(800, 20);

  .form-field {
    @include account-column(200, 410, 10);
  }

  .form-actions {
    @include account-column(200, 200, 5);
    float: left;
    margin-top: 30px;
  }
}

.account-address-list {
  @include account-row(1300, 60);
  float: left;
  width: 100%;
}

.account-address-list-item {
  @include account-column(200, 660, 30);
  @include account-perfect-square(200, 660, 30);
  position: relative;
  float: left;
  margin-bottom: 4.34782%;
  overflow: hidden;
  border: 1px solid $account-border-color;
  border-radius: 4px;
}

.account-address-list-item-content .address-detail {
  display: block;
}

.account-address-list-item-add-new {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  margin-top: -5px;
  font-size: 18px;
  text-align: center;
  transform: translate(-50%, -50%);

  > .add-icon {
    display: block;
    font-size: 40px;
    line-height: 40px;
  }
}

.account-address-list-item-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.account-address-list-item-actions {
  margin-top: 30px;
}


// Wishlists
.account-wishlists-table {
  float: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  border: 0;

  th {
    padding-left: 0;
    text-align: left;
    border: 0;
  }

  td {
    padding-left: 0;
    border-left: 0;
    border-color: $account-border-color;
  }

  + .form-actions {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 75px;
  }
}

.account-share-wishlist {
  display: block;
  float: left;
  width: 100%;
  padding: 35px;
  margin-bottom: 40px;
  background-color: $account-header-color;

  h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
  }
}

.account-share-wishlist-url {
  text-align: center;

  > input {
    display: inline-block;
    width: 70%;
    text-align: center;
  }
}


// Product Grid
.account-product-grid {
  @include account-row(1300, 60);
}

.account-product-item {
  @include account-column(200, 660, 30);
  float: left;
  margin-bottom: 60px;
}

.account-product-item-image {
  @include account-column(200, 200, 0);
  @include account-perfect-square(200, 200, 0);
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;

  > a img {
    @include account-image-fill;
  }
}

.account-product-item-title {
  text-align: center;

  > h2 {
    font-size: 16px;
  }
}

.account-product-item-brand {
  text-align: center;

  > h3 {
    font-size: 14px;
  }
}

.account-product-item-price {
  text-align: center;

  > h4 {
    font-size: 12px;
  }
}

.account-product-item-ratings {
  margin-bottom: 20px;
  text-align: center;
}

.account-product-item-remove-item {
  position: absolute;
  top: 10px;
  right: 10px;

  input {
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: $account-light-color;
    border: 0;
    border-radius: 50%;

    &:hover {
      color: $account-light-color;
      background-color: $account-accent-color;
    }
  }
}

.account-product-item-add-to-cart {
  text-align: center;
}


// Recently Viewed
.account-recently-viewed {
  .account-product-item-remove-item {
    display: none;
  }
}


// Account Settings
.account-settings-form {
  @include account-row(800, 20);

  .form-field {
    @include account-column(200, 410, 10);
  }

  .form-actions {
    @include account-column(200, 200, 5);
    float: left;
    margin-top: 30px;
  }
}
