.auth-error {
  margin-right: $auth-gutter / 2;
  margin-left: $auth-gutter / 2;
}

 // Login
.auth-customer-login,
.auth-new-customer {
  display: inline-block;
  width: 50%;
  padding-right: $auth-gutter / 2;
  padding-left: $auth-gutter / 2;
  font-size: $auth-font-size;
  vertical-align: top;
}

.auth-new-customer-intro {
  &:empty {
    display: none;
  }
}

.auth-new-customer-facts {
  padding-left: 20px;
  margin-bottom: 30px;
  list-style: disc;

  li:empty {
    display: none;
  }
}

// Create Account
.auth-create-account-form {
  padding-right: $auth-gutter / 2;
  padding-left: $auth-gutter / 2;
  font-size: $auth-font-size;
}

// Forgot Password / Account Created
.auth-forgot-password,
.auth-account-created {
  padding-right: $auth-gutter;
  padding-left: $auth-gutter;
  font-size: $auth-font-size;
}
