$auth-gutter: 30px !default;
$auth-font-size: 15px !default;

.auth-wrapper {
  font-size: 0;
}

.auth-error {
  margin-right: $auth-gutter / 2;
  margin-left: $auth-gutter / 2;
}

 // Login
.auth-customer-login,
.auth-new-customer {
  display: inline-block;
  width: 50%;
  padding-right: $auth-gutter / 2;
  padding-left: $auth-gutter / 2;
  vertical-align: top;
  font-size: $auth-font-size;
}

.auth-new-customer-intro {

  &:empty {
    display: none;
  }
}

.auth-new-customer-facts {
  margin-bottom: 30px;
  padding-left: 20px;
  list-style: disc;

  li:empty {
    display: none;
  }
}

// Create Account
.auth-create-account-form {
  padding-right: $auth-gutter / 2;
  padding-left: $auth-gutter / 2;
  font-size: $auth-font-size;
}

// Forgot Password / Account Created
.auth-forgot-password,
.auth-account-created {
  padding-right: $auth-gutter;
  padding-left: $auth-gutter;
  font-size: $auth-font-size;
}
