.account-page-forgot .account-content {
  width: 100%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  p {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
}

.account-forgot-form {
  display: table;
  width: 100%;
  margin-top: $account-gutter;

  .form-field,
  .form-actions {
    display: table-cell;
    text-align: left;
    vertical-align: bottom;
  }

  .form-actions {
    width: 1px;
    padding-left: 10px;
  }
}
