.account-page-new-password .account-content {
  width: 100%;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.new-password-requirements {
  text-align: center;
  margin-bottom: $account-gutter;
}
