.account-wishlists {
  margin-bottom: 30px;
}

.account-wishlist {
  margin-right: -($account-gutter / 2);
  margin-left: -($account-gutter / 2);

  .section-title {
    margin-right: $account-gutter / 2;
    margin-left: $account-gutter / 2;
  }
}
