<h2 class="account-sub-heading">{{lang 'account.messages.send_message'}}</h2>

<form class="form account-messages-form" id="inbox-form" action="{{urls.account.send_message}}" method="post">

  <div class="form-field form-required">
    <label class="form-label" for="message_order_id">
      <span class="form-label-text" data-required="{{lang 'account.common.required'}}">
        {{lang 'account.inbox.order'}}
      </span>
      <select class="form-select" name="message_order_id" id="message_order_id">
        {{#each customer.inbox.orders}}
          <option value="{{id}}">{{lang 'account.inbox.order_display' id=id date=date total=amount.formatted}}</option>
        {{/each}}
      </select>
    </label>
  </div>

  <div class="form-field form-required">
    <label class="form-label" for="message_subject">
      <span class="form-label-text" data-required="{{lang 'account.common.required'}}">
        {{lang 'account.inbox.subject'}}
      </span>
      <input type="text" class="form-input" name="message_subject" id="message_subject">
    </label>
  </div>

  <div class="form-field form-required">
    <label class="form-label" for="message_content">
      <span class="form-label-text" data-required="{{lang 'account.common.required'}}">
        {{lang 'account.inbox.message'}}
      </span>
      <textarea class="form-input" name="message_content" id="message_content" rows="7" ></textarea>
    </label>
  </div>

  <div class="form-actions">
    <input class="button" type="submit" value="{{lang 'account.inbox.submit'}}">
    <input class="account-button-alt" type="reset" value="{{lang 'account.inbox.clear'}}">
  </div>

</form>
