<ul class="account-list account-messages">

  <li class="account-list-header">
    <div class="account-list-header-item date">
      <span class="account-list-header-label">{{lang 'account.messages.list.message_date'}}</span>
    </div>

    <div class="account-list-header-item subject">
      <span class="account-list-header-label">{{lang 'account.messages.list.message_subject'}}</span>
    </div>

    <div class="account-list-header-item message">
      <span class="account-list-header-label">{{lang 'account.messages.list.message_name'}}</span>
    </div>
  </li>

  {{#if messages}}
    {{#each messages}}
      <li class="account-list-item">
        <div class="account-list-item-details">
          <div class="account-list-item-cell date" data-title="{{lang 'account.messages.list.message_date'}}">
            <span>{{date}}</span>
          </div>

          <div class="account-list-item-cell subject" data-title="{{lang 'account.messages.list.message_subject'}}">
            <span>{{subject}}</span>
          </div>

          <div class="account-list-item-cell message {{#unless unread}}is-read{{/unless}}" data-title="{{lang 'account.messages.list.message_name'}}">
            <span>
              {{#if is_reply}}
                {{lang 'account.messages.merchant_said' store_name=../../settings.store_name}}
              {{else}}
                {{lang 'account.messages.customer_said'}}
              {{/if}}
              {{message}}
            </span>
          </div>
        </div>
      </li>
    {{/each}}

  {{else}}
    <li class="account-list-item account-empty">{{lang 'account.messages.no_messages'}}</li>
  {{/if}}

</ul>
