<h2 class="account-sub-heading">{{lang 'account.orders.details.order_contents'}}</h2>

<ul class="account-list">
  <li class="account-list-item">
    <div class="account-list-item-row">

      {{#each items}}
        <div class="account-list-item-row-inner {{#if @last}}last{{/if}}">

          <div class="account-list-item-image">
            {{!-- TODO: Add default placeholder image --}}
            {{!-- https://github.com/bigcommerce/stencil/blob/master/templates/components/products/card.html#L3 --}}
            <img src="{{getImage image 'account_product_thumbnail'}}" alt="{{image.alt}}">
          </div>

          <div class="account-list-item-info">

            {{#if brand}}
              <div class="account-list-item-brand">{{brand.name}}</div>
            {{/if}}

            <div class="account-list-item-name">{{name}}</div>

            <div class="account-list-item-options">
              {{#each options}}
                <span class="account-list-item-label">{{name}}:</span>
                {{value}}{{#unless @last}}<br />{{/unless}}
              {{/each}}
            </div>

            <div class="account-list-item-quantity">
              <span class="account-list-item-label">{{lang 'account.orders.list.quantity'}}:</span> {{quantity}}
            </div>

            <div class="account-list-item-order-price">
              <span class="account-list-item-label">{{lang 'account.orders.list.price'}}:</span> {{price.formatted}}
            </div>

            {{#if gift_wrapping_name}}
              <div class="account-list-item-gift-wrap">
                <span class="account-list-item-label">{{lang 'account.orders.details.gift_wrapping'}}:</span>
                {{gift_wrapping_name}}
              </div>
            {{/if}}

            {{#unless refunded}}
              {{#if download_url}}
                <div class="account-list-item-order-download">
                  <span class="account-list-item-label">{{lang 'account.orders.list.download'}}:</span>
                  <a href="{{download_url}}">{{lang 'account.orders.list.download_items'}}</a>
                </div>
              {{/if}}
            {{/unless}}

            {{#if refunded}}
              <div class="account-list-item-order-refund">{{lang 'account.orders.details.refunded_quantity' qty=refunded_qty}}</div>
            {{else}}
              {{#if refunded_qty}}
                <div class="account-list-item-order-refund">{{lang 'account.orders.details.refunded_quantity' qty=refunded_qty}}</div>
              {{/if}}
            {{/if}}

            {{#unless show_reorder}}
              <div class="account-list-item-order-reorder">
                <span class="account-list-item-label">{{lang 'account.orders.details.reorder'}}:</span>
                {{{reorder_message}}}
              </div>
            {{/unless}}
          </div>
        </div>
      {{/each}}

    </div>
  </li>
</ul>
