<div class="account-product-item-image">

  <a href="{{url}}">
    <img src="{{getImage image 'account-product'}}" alt="{{{image.alt}}}">
  </a>

  <!-- TODO: This needs some lovin' -->
  <div class="account-product-item-remove-item">
    <a href="{{remove_url}}">&times;</a>
  </div>

</div>

<div class="account-product-item-info">

  <div class="account-product-item-title">
    <h2 class="account-product-item-title-heading"><a href="{{url}}">{{name}}</a></h2>
  </div>

  <div class="account-product-item-brand">
    {{#if brand.name}}
      <h3 class="account-product-item-brand-heading">{{brand.name}}</h3>
    {{/if}}
  </div>

  <div class="account-product-item-price">
    <!-- TODO: BigCommerce is rendering the incorrect price JSON on 'recently viewed' pages, so price shows up blank -->
    <div class="account-product-item-price-text">{{> components/products/price price=price}}</div>
  </div>

  <div class="account-product-item-ratings">
    {{> components/products/rating rating=rating}}
  </div>

  <div class="account-product-item-add-to-cart">
    {{#unless hide_add_to_cart}}

      {{#if has_options}}
        <a href="{{url}}" class="button" data-product-id="{{id}}">{{lang 'account.products.choose_options'}}</a>
      {{else}}
        {{#if can_purchase}}
          <a href="{{add_to_cart_url}}" class="button">
            {{#if pre_order}}
              {{lang 'account.products.pre_order'}}
            {{else}}
              {{lang 'account.products.add_to_cart'}}
            {{/if}}
          </a>
        {{else}}
          {{#if out_of_stock_message}}
            <a href="{{url}}" class="button" data-product-id="{{id}}">{{out_of_stock_message}}</a>
          {{/if}}
        {{/if}}
      {{/if}}

    {{/unless}}
  </div>

</div>
