<ul class="account-list account-wishlists">

  <li class="account-list-header">

    <div class="account-list-header-item">
      <span class="account-list-header-label">{{lang 'account.wishlists.wishlist_name'}}</span>
    </div>

    <div class="account-list-header-item">
      <span class="account-list-header-label">{{lang 'account.wishlists.num_items'}}</span>
    </div>

    <div class="account-list-header-item">
      <span class="account-list-header-label">{{lang 'account.wishlists.public'}}</span>
    </div>

    <div class="account-list-header-item">
      <span class="account-list-header-label">{{lang 'account.wishlists.action'}}</span>
    </div>

  </li>

  {{#if customer.wishlists}}
    {{#each customer.wishlists}}

      <li class="account-list-item">
        <div class="account-list-item-details">

          <div class="account-list-item-cell">
            <a href="{{view_url}}">{{name}}</a>
          </div>

          <div class="account-list-item-cell">
            {{num_items}}
          </div>

          <div class="account-list-item-cell">
            {{#if is_public}}
              {{lang 'account.common.yes'}}
            {{else}}
              {{lang 'account.common.no'}}
            {{/if}}
          </div>

          <div class="account-list-item-cell">
            <form method="post" action="{{delete_url}}" class="form">
              <fieldset class="form-fieldset">
                <a href="{{edit_url}}" class="button button-small">{{lang 'account.common.edit'}}</a>
                <input class="button button-small" type="submit" value="{{lang 'account.common.delete'}}">
                {{#if is_public}}
                  <a href="{{../settings.base_url}}{{share_url}}" class="button button-small" role="button">{{lang 'account.common.share'}}</a>
                {{/if}}
              </fieldset>
            </form>
          </div>

        </div>
      </li>

    {{/each}}

  {{else}}
    <li class="account-list-item account-empty">{{lang 'account.wishlists.empty'}}</li>
  {{/if}}
</ul>

<form class="form" action="{{this.urls.account.wishlists.delete}}" method="post">
  <div class="form-field">
    <a class="button" href="{{this.urls.account.wishlists.add}}" role="button">
      {{lang 'account.wishlists.new'}}
    </a>
    {{#each customer.wishlists}}
      <input type="hidden" value="{{this.id}}" name="deletewishlist[]"/>
    {{/each}}
    <input class="form-submit-alternative" type="submit" value="{{lang 'account.wishlists.delete_all'}}" id="wishlist-delete">
  </div>
</form>
