<table class="account-wishlists-table">

  <thead>
    <tr>
      <th>{{lang 'account.wishlists.name'}}</th>
      <th>{{lang 'account.wishlists.num_items'}}</th>
      <th>{{lang 'account.wishlists.shared'}}</th>
      <th>{{lang 'account.wishlists.action'}}</th>
    </tr>
  </thead>

  <tbody>
    {{#each customer.wishlists}}
      <tr>
        <td><a href="{{view_url}}">{{name}}</a></td>
        <td>{{num_items}}</td>
        <td>
          {{#if is_public}}
            {{lang 'account.common.yes'}}
          {{else}}
            {{lang 'account.common.no'}}
          {{/if}}
        </td>
        <td>
          <form method="post" action="{{delete_url}}" class="form">
            <fieldset class="form-fieldset">
              <a href="{{edit_url}}" class="button">{{lang 'account.common.edit'}}</a>
              <input type="submit" value="{{lang 'account.common.delete'}}" class="button">
              <a href="{{share_url}}" class="button" role="button">{{lang 'account.common.share'}}</a>
            </fieldset>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>

</table>

<form method="post" action="{{this.urls.account.wishlists.delete}}" class="form-actions">
  <a href="{{this.urls.account.wishlists.add}}" data-reveal-id="wishlist-modal" class="button" role="button">
    {{lang 'account.wishlists.new'}}
  </a>
  {{#each customer.wishlists}}
    <input type="hidden" value="{{this.id}}" name="deletewishlist[]"/>
  {{/each}}
  <input type="submit" value="{{lang 'account.wishlists.delete_all'}}" id="wishlist-delete" class="button"/>
</form>
